<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 多行文本输入框 -->
        {{msg}}
        <textarea name="" id="" cols="30" rows="10" v-model="msg">
            asdasd
        </textarea>
        <!-- 单选按钮 -->
        <input type="checkbox" v-model="check">
        <!-- 多选按钮 -->
        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <!-- 单选按钮 -->
        <div id="example-4">
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>
        <!-- 选择输入框 -->
        <div id="example-5">
            <select v-model="selected">
                <option disabled value="">请选择</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>
    </div>
    <script src="./vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                msg: 'abc',
                check: false,
                checkedNames: [],
                picked: '',
                selected: ''
            },
            methods: {}
        });
    </script>
</body>

</html>